# Lab | Data Cleaning and Formatting

Objective: Apply Python programming to perform data cleaning and formatting, including identifying and handling with missing values, duplicates, outliers, errors, and using various formatting techniques such as changing data types, renaming columns, and handling string values, to prepare data for analysis.

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

In [2]:
import pandas as pd
data = pd.read_csv("data.csv")

In [3]:
data.head(1)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934

In [4]:
new_columns = []

for column in data.columns:
    new_column = column.lower().replace(" ","_")
    new_columns.append(new_column)
    
print(new_columns)
data.columns = new_columns

['customer', 'st', 'gender', 'education', 'customer_lifetime_value', 'income', 'monthly_premium_auto', 'number_of_open_complaints', 'policy_type', 'vehicle_class', 'total_claim_amount']

In [5]:
data.head(1)

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they contain only valid data. For example, the gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

In [6]:
print(data.customer.value_counts())

RB50392    1
HJ15383    1
AO74776    1
HQ82233    1
OL72737    1
          ..
RO26085    1
ES57969    1
JK55587    1
RN97635    1
MY31220    1
Name: customer, Length: 1071, dtype: int64

In [12]:
print(data.st.value_counts())
def clean_state(x):
    if x == "WA":
        return "Washington"
    elif x == "AZ":
        return "Arizona"
    elif x == "Cali":
        return "California"
    else:
        return x
    
data.st = data.st.apply(clean_state)

California    331
Oregon        320
Arizona       211
Washington    111
Nevada         98
Name: st, dtype: int64

In [18]:
print(data.gender.value_counts())
def clean_gender(x):
    if x == "Male":
        return "M"
    elif x == "female":
        return "F"
    elif x == "Femal":
        return "F"
    else:
        return x
    
data.gender = data.gender.apply(clean_gender)

F    502
M    452
Name: gender, dtype: int64

In [24]:
print(data.education.value_counts())
def clean_education(x):
    if x == "Bachelors":
        return "Bachelor"
    else:
        return x
data.education = data.education.apply(clean_education)

Bachelor                331
College                 313
High School or Below    296
Master                   94
Doctor                   37
Name: education, dtype: int64

In [74]:
#print(data.customer_lifetime_value.value_counts())
#replace percentage with empty string
#def clean_customer_lifetime_value(x):
 #   if x[-1]== "%":
 #       return ""
#    else:
#        return x
data["customer_lifetime_value"]=data["customer_lifetime_value"].apply(lambda x:float(x.replace("%",""))if pd.notna(x) else x)
print(data.customer_lifetime_value.value_counts())

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
print(data.customer_lifetime_value.value_counts())

In [25]:
print(data.income.value_counts())

0.0        252
43860.0      4
17622.0      4
36650.0      3
14072.0      3
          ...
29486.0      1
58557.0      1
25632.0      1
18768.0      1
54230.0      1
Name: income, Length: 774, dtype: int64

In [26]:
print(data.monthly_premium_auto.value_counts())

65.0     47
63.0     39
71.0     37
67.0     37
73.0     37
         ..
177.0     1
181.0     1
276.0     1
253.0     1
199.0     1
Name: monthly_premium_auto, Length: 132, dtype: int64

In [65]:
print(data.number_of_open_complaints.value_counts())
def clean_numberofopencomplaintsdtype(x):
    if isinstance(x, str):
        return x[2]
    else:
        return x
data.number_of_open_complaints = data.number_of_open_complaints.apply(clean_numberofopencomplaintsdtype)

0.0    830
1.0    138
2.0     50
3.0     34
4.0     13
5.0      6
Name: number_of_open_complaints, dtype: int64

In [66]:
data.number_of_open_complaints

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
4003    NaN
4004    NaN
4005    NaN
4006    NaN
4007    NaN
Name: number_of_open_complaints, Length: 4008, dtype: float64

In [67]:
clean_numberofopencomplaintsdtype("1/0/00")

'0'

In [28]:
print(data.policy_type.value_counts())

Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: policy_type, dtype: int64

In [29]:
print(data.vehicle_class.value_counts())

Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: vehicle_class, dtype: int64

In [30]:
print(data.total_claim_amount.value_counts())

321.600000    19
331.200000    15
312.000000    14
350.400000    14
316.800000    12
              ..
421.484456     1
430.505942     1
7.646763       1
55.510526      1
207.320041     1
Name: total_claim_amount, Length: 761, dtype: int64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

In [75]:

data.number_of_open_complaints = pd.to_numeric(data.number_of_open_complaints)
data.info()

# 4   customer_lifetime_value    1068 non-null   object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   1071 non-null   object
 1   st                         1071 non-null   object
 2   gender                     954 non-null    object
 3   education                  1071 non-null   object
 4   customer_lifetime_value    1068 non-null   float64
 5   income                     1071 non-null   float64
 6   monthly_premium_auto       1071 non-null   float64
 7   number_of_open_complaints  1071 non-null   float64
 8   policy_type                1071 non-null   object
 9   vehicle_class              1071 non-null   object
 10  total_claim_amount         1071 non-null   float64
dtypes: float64(5), object(6)
memory usage: 344.6+ KB

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the isnull() function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (we haven't studied this yet)

Implement your chosen strategy to handle the null values. You can use the fillna() function in pandas to fill null values or dropna() function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the isnull() function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using applymap.

Save the cleaned dataset to a new CSV file.

In [82]:
# Identify columns with null values
null_columns = data.columns[data.isnull().any()]

In [83]:
# Count null values in each column
null_counts = data[null_columns].isnull().sum()

In [84]:
# Fill null values with mean for numerical columns
numerical_columns = data.select_dtypes(include=['float', 'int']).columns
data[numerical_columns] = data[numerical_columns].fillna(data[numerical_columns].mean())

# Fill null values with mode for categorical columns
categorical_columns = data.select_dtypes(include=['object']).columns
data[categorical_columns] = data[categorical_columns].fillna(data[categorical_columns].mode().iloc[0])

# Convert numeric variables to integers
data[numerical_columns] = data[numerical_columns].applymap(int)

In [89]:
# Verify if there are still null values
null_columns = data.columns[data.isnull().any()]
null_counts = data[null_columns].isnull().sum()
#data.info()
print(null_columns,null_counts)

Index([], dtype='object') Series([], dtype: float64)

In [91]:
# Save the cleaned dataset to a new CSV file
data.to_csv('cleaned_data.csv', index=False)

In [92]:
!ls

README.md
cleaned_data.csv
data.csv
lab-dw-data-cleaning-and-formatting.ipynb

## Exercise 5: Dealing with duplicates

Use the .duplicated() method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the drop_duplicates() function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using .duplicated().

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

In [ ]:
# Your code here

# Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting. 

Write these functions in a separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we tried to do work with that column, we wouldn't have been able to do it because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, lets get some more interesting insights!

Instructions:

- Review again the statistics for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the .describe() method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here